/* stylelint-disable selector-pseudo-class-no-unknown, selector-max-compound-selectors */

.bottom_ads_wrapper__wrapper {
    min-height: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
}

:global .lt-tablet-width {
    :local .bottom_ads_wrapper__wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

@media print {
    .bottom_ads_wrapper__wrapper {
        display: none;
    }
}
