@use '../../css/variable';

.font_size {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.font_size__button {
    background-color: transparent;
    border: 1px solid variable.$main-font-color;
    box-sizing: border-box;
    color: variable.$main-font-color;
    cursor: pointer;
    display: block;
    font-size: 1.125em;
    height: 40px;
    line-height: 1;
    margin: 0;
    padding: 0 0 0 5px;
    text-align: center;
    width: 45px;

    &:first-child {
        border-right-width: 0;
        width: 44px;
    }
}

@media print {
    .font_size {
        display: none;
    }
}
