@use '../../css/variable';

.page_header__wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: variable.$ui-unit * 2;
    justify-content: flex-start;
}

.page_header {
    display: block;
    flex-grow: 1;
    font-size: 2.25em;
    font-weight: normal;
    margin: 0;
    padding: 0 0 variable.$ui-unit;
}

.page_header__font_size {
    padding-top: 6px;
}
