/* stylelint-disable selector-pseudo-class-no-unknown */

.markdown_input_wrapper {
    :global {
        .ant-form-item,
        .ant-row.ant-form-item-row,
        .ant-form-item-control-input,
        .ant-form-item-control-input-content {
            height: 100%;
        }

        .ant-input {
            box-sizing: border-box;
            height: calc(100% - 24px);
            min-height: 200px;
        }
    }
}
