@use '../../css/service';
@use '../../css/variable';

.audio_player__spinner {
    display: block;
    text-align: center;
}

.audio_player_list_link {
    @extend %link;

    display: block;
    padding: variable.$ui-unit 0;
}
