@use '../../css/service';

.siblings {
    display: block;
}

.siblings_header {
    display: block;
    font-size: 1.375em;
    font-weight: normal;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

.siblings_list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.siblings_list_item {
    display: block;
    margin: 0;
    padding: 0;
}

.siblings_link {
    @extend %link;

    display: inline-block;
    font-size: 1em;
    padding: 6px 0;
}
